@import url(https://fonts.googleapis.com/css?family=Nunito);

html, body {
    height: 100%;
    width: 100%;
    color: lighten(black, 20%);
    font-family: Nunito, sans-serif;
    font-size: 1rem;
}

h1,h2,h3,h4,h5 {
    font-weight: 800;
}

nav i {
    font-size: 1.5em;
}

#slides {
    overflow: hidden;
    .carousel-inner {
        img {
            width: 100%;
        }
        .carousel-caption {
            top:50%;
            transform: translateY(-50%);
            text-shadow: 0 0 5px black;
        }
    }
}

.sticky-modifier {
    position: absolute;
    top:0;left:0;right:0;
    z-index: 10000;
    &.fixed-position {
        position: fixed;
    }
}

.pt-8 {
    padding-top: 4rem;
}

#main {
    min-height: 1000px;
    .sidebar-placeholder {
        height: 100%;
        position: relative;
    }
}